<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale -%>" lang="<%= I18n.locale -%>" debug="false">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title><%= CONFIG["app"]["name"] -%> v<%= CONFIG["app"]["version"] -%> rev. <%= CONFIG["app"]["revision"] -%></title></title>    

	  	
	  	<%= javascript_include_tag "jquery" %>
	  		<%= javascript_include_tag "rails" %>
	  		<%= javascript_include_tag "jquery-ui" %>
		
		
	

		<%= javascript_include_tag "jquery.json.min" %>
		<%= javascript_include_tag "jquery.jscrollpane.min" %>
		<%= stylesheet_link_tag "jquery.jscrollpane" %>
	
		<%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.7.custom" %>
		<%= stylesheet_link_tag "start/jquery-ui-1.8.7.custom" %>
	
		
		<%= stylesheet_link_tag "application", :media => :all %>
		<%= stylesheet_link_tag "print", :media => :print %> 
		
		<%= csrf_meta_tag %>
	</head>
	<body>   
		<div id="main-container">  
			<div id="header" class="clearfix not-for-print" style="height: 96px;">
					<img id="logo" src="/images/einstein-icon.gif"/> 
					<div class="site-title"><%= link_to CONFIG["app"]["name"], :root %></div> <span class="titleBeta">beta</span>

				<div id="main-menu">			
					<ul> 
						
							<li class="user">Welcome </li>
						
						<li><%= link_to "Dashboard", :root -%></li>
						<li><%= link_to "Running searches", :root -%></li>
						<li><%= link_to "Settings", :edit_user_registration -%></li>
						<li class="last"><%= link_to 'Exit', :root -%></li>
					</ul>        		
				</div>  
			
	
			</div>


			<div id="flashes">
				<% names = [:notice, :error, :warning, :message, :success] %>
				<% for name in names %>
				  <% if flash[name] %>
				    <%= "<div id=\"#{name}\" class=\"#{name}\">#{flash[name]}</div>".html_safe  %>
				  <% end %>
				<% end %>
			</div>

			<%= yield  %>    
			
			<div id="footer">      
				&copy;<%= Time.now.year %> Copyright SammyRulez Inc. <br />
				<span class="not-for-print">For a more enviroment friendly life, please do not print this page often! Use of this software is reserved to good users. </span>
			</div> 
	    
		</div>

	<%= javascript_include_tag "closures" %>

	</body>
</html>
